#!/usr/bin/make -f

NODE_PREFIX=debian/nodiverse/usr

%:
	dh $@

override_dh_auto_build:
	npm rebuild
	npm install --include=dev

override_dh_auto_test:
	npm test

override_dh_auto_install:
	npm install --global --prefix $(NODE_PREFIX) .

clean:
	dh clean
